.getStarted {
  margin-left: 2rem;
  font-size: var(--font-size-small);
}

.brand {
  width: 126px;
}

.inner {
  max-width: var(--ifm-container-width);
  margin: 0 auto;
  padding: 0 1rem;
}

@media (max-width: 768px) {
  .getStarted {
    margin-left: 0.75rem;
    padding: 0.5rem;
    font-size: calc(var(--font-size-small) - 1px);
  }

  :global(.DocSearch-Button) {
    margin: 0 !important;
  }
}
