.console {
  flex-direction: column;
  align-items: center;
}

.console__title {
  width: 100%;
}

.console__subtitle {
  max-width: 860px;
  margin-bottom: 6rem;
}

.console__footer {
  display: flex;
  width: 100%;
  margin-top: 9rem;
}

.console__highlight {
  padding: 4rem;
  max-width: 560px;
  flex: 1 1 405px;
  border-radius: 16px;
  background: var(--palette-midnight);
}

.console__highlight:not(:last-child) {
  margin-right: 1.5rem;
}

.console__highlight--primary {
  background: var(--palette-pink);
}

.console__label {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: var(--font-size-xlarge);
  font-weight: var(--ifm-font-weight-bold);
}

.console__illustration {
  max-width: 600px;
  width: 100%;
}

.console__summary {
  font-size: var(--font-size-large);
}

.console__actions {
  display: flex;
  padding-top: 2rem;
}

.console__link {
  text-transform: uppercase;
  font-size: var(--font-size-normal);
}

.console__link:not(:last-child) {
  margin-right: 1.5rem;
}

@media (max-width: 996px) {
  .console__subtitle {
    margin-bottom: 3rem;
  }

  .console__footer {
    margin-top: 6rem;
    flex-direction: column;
    align-items: center;
  }

  .console__highlight {
    padding: 3rem 2rem;
  }

  .console__highlight:not(:last-child) {
    margin: 0;
    margin-bottom: 2rem;
  }

  .console__label {
    font-size: var(--ifm-h2-font-size);
  }
}
