.getStarted {
  --ifm-link-hover-color: var(--palette-pink);
  --ifm-link-color: var(--palette-pink);
  padding-top: 4rem;
  padding-bottom: 6.5rem;
}

.getStarted__title {
  font-size: var(--font-size-xxxlarge);
}

.getStarted__console {
  width: 500px;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.getStarted__subtitle {
  font-size: var(--font-size-llarge);
}

.getStarted__details {
  display: flex;
  height: 55px;
  padding: 0 2rem;
  align-items: center;
  border-radius: calc(var(--ifm-global-border-radius) / 2);
  color: var(--palette-pale-blue);
  background: var(--palette-rock);
  font-size: var(--font-size-normal);
}

.getStarted__details--download {
  margin-right: 1rem;
}

.getStarted__top {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

.getStarted__cta {
  display: flex;
  margin-top: 2.9rem;
}

.getStarted__links {
  display: flex;
  margin-top: 2rem;
}

.getStarted__link {
  text-decoration: underline;
  color: var(--palette-pale-blue);
}

.getStarted__link:not(:last-child) {
  margin-right: 2.5rem;
}

@media (max-width: 996px) {
  .getStarted {
    padding-bottom: 3.5rem;
    padding-top: 1.5rem;
  }

  .getStarted__title {
    font-size: var(--font-size-xlarge);
    text-align: center;
  }

  .getStarted__console {
    width: 440px;
    max-width: 88%;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }

  .getStarted__subtitle {
    font-size: var(--font-size-large);
    max-width: 500px;
    text-align: center;
  }

  .getStarted__cta {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    flex-direction: column;
    align-items: center;
  }

  .getStarted__details {
    margin: 0;
    margin-bottom: 1rem;
  }

  .getStarted__top {
    padding-top: 0;
    align-items: center;
    flex-basis: auto;
  }

  .getStarted__link:not(:last-child) {
    margin-right: 1.5rem;
  }
}
